/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

* {margin: 0;}

body {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    max-width: 100%;
    margin: 0;
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 100%;
    margin: 0;
}
/*========================== header =============================*/

header{
    text-align: center;
    height: 161px;
    /*background-image: url("/images/wheelBackground5.png");*/
    margin: auto;
}

header img { /* logo */
    padding-right: 1em;
    display: flex;
    position: absolute;
    top: 1.85rem;
    left: 1.25rem;
}

.company {
    display: flex;
    position: absolute;
    color: #ffffff; /* white */
    left: 75px;
}

.subheading {
    color: #1b3043; /* dk blue */
    font-family: 'Pacifico', script;
    text-align: center;
    padding: .25em;
    margin: 0px;
    line-height: 1.5em;
    font-size: .8em;
}

#dkblue{
    background-color: #1b3043; /* dk blue */
    height: 100px;
    margin: 0px;
}

#green{
    background-color: #a9bd38; /* green */
    height: 5px;
    margin: 0px;
}

/*============= hamburger menu =================*/
.hamburger{
    display: flex;
    position: absolute;
    right: .25em;
    top: 1.5em;
    border: none;
    background-color: transparent;
    color: #009696; /* teal */
    font-size: 1.75em;
}

.navigation {
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: none;
}

@media only screen and (max-width: 37.5em){
    .navigation.responsive {position: relative;}
    .navigation.responsive li {display: flex; width: 100%; margin: 2px 0; border: 1px solid #ddd;}
    .navigation.responsive li a{padding: 1rem; text-align: center; display: flex; text-decoration: none;}
    .navigation.responsive li a:hover {background-color: #ddd;}
}

/*============== nav ====================*/
nav {
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff; /* white */
    background-color: #1b3043; /* dk blue */
}

nav ul li {
    list-style-type: none;
    display: flex;
    padding: .25rem 2%;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff; /* white */
}
nav li.active a {
    color: #f3a843; /* yellow */
    padding: .8rem;
}
nav li:hover {
    background-color: #009696; /* teal */
}
/*===================== main =============================*/
h1 {
    padding: 2%;
}

#homeImg {
    border-top: 5px solid #f3a843; /* yellow */
    margin: 0px;
    padding: 0px;
}

#homeImg figcaption {
    background-color: #a9bd38; /* green */
}

aside {
    color: #ffffff; /* white */
}

aside article {
    background-color: #354557; /* med blue */
    padding: .25em;
    margin: .5em;
    text-align: center;
    border-top: 3px solid #f3a843; /* yellow */
    border-bottom: 6px solid #a9bd38; /* green */
}

button { /* register now */
    margin: .5em;
    background-color: #f3a843; /* yellow */
    padding: .3em;
    color: #1b3043; /* dk blue */
}

button:hover {
    background-color: #009696; /* teal */
    color: #f3a843; /* yellow */
    opacity: 1.0;
}

a:link {
    text-decoration: none;
    color: #ffffff; /* white */
}

a:hover {
    color: #009696; /* teal */
    opacity: 0.5;
}

a:visited {
    color: #ffffff; /* white */
}

/*===================== grid =============================*/

#grid{ display: grid; grid-template-columns: 1fr; grid-column-gap: 20px; }

#grid main div {
    position: relative;
}

/*====================== slideshow ===============================*/

/* Slideshow container */
.slideshow-container {
    max-width: 599px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none; /* Hide the images by default */
    padding: 2em;
}

.text {

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #009696; /* teal */
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #000000; /* black */
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #5d7991; /* lt blue */
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #1b3043; /* dk blue */
}

/*===================== form =============================*/

.form {background-color:#8e99a2; margin: 1rem; padding: 1rem; border:1px solid #444;}


/*===================== table =============================*/

table {
    border: 2px solid #8e99a2;
    padding: 1%;
    margin: 1%;
    background-color: #d9d9d9;
}

th {
    background-color: #8e99a2;
    padding: 7px;
    color: #ffffff;
}

tr {
    text-align: center;
}

/*============= footer ==================*/

footer {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    background-color: #1b3043; /* dk blue */
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #ffffff;
}

footer a {
    color: #009696; /* teal */
    text-decoration: none;
}
footer aside {}
footer>p {
}
