/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

* {margin: 0;}

body {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    max-width: 100%;
    margin: 0;
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 100%;
    margin: 0;
}
/*========================== header =============================*/

header{
    text-align: center;
    height: 161px;
    /*background-image: url("/images/wheelBackground5.png");*/
    margin: auto;
}

header img { /* logo */
    padding-right: 1em;
    display: inline-flex;
    position: absolute;
    top: 1.75rem;
    left: 1.75rem;
}

.company {
    display: flex;
    position: absolute;
    color: #ffffff; /* white */
    left: 75px;
}

.subheading {
    color: #1b3043; /* dk blue */
    font-family: 'Pacifico', script;
    text-align: center;
    padding: .25em;
    margin: 0px;
    line-height: 1.5em;
    font-size: 1em;
}

.bold {
    font-weight: 700;
    text-transform: uppercase;
}

#dkblue{
    background-color: #1b3043; /* dk blue */
    height: 100px;
    margin: 0px;
}

#green{
    background-color: #a9bd38; /* green */
    height: 5px;
    margin: 0px;
}

/*============= hamburger menu =================*/
.hamburger{
    display: flex;
    position: absolute;
    right: .1em;
    top: 1.5em;
    border: none;
    background-color: transparent;
    color: #009696; /* teal */
    font-size: 1.75em;
}

.hamburger:hover{
    color: #f3a843; /* yellow */
    background-color: transparent;
}

.navigation {
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: none;
}

@media only screen and (max-width: 37.5em){
    .navigation.responsive {position: relative;}
    .navigation.responsive li {display: flex; width: 100%; margin: 2px 0; border: 1px solid #ddd;}
    .navigation.responsive li a{padding: 1rem; text-align: center; display: flex; text-decoration: none;}
    .navigation.responsive li a:hover {background-color: #ddd;}
}

/*============== nav ====================*/
nav {
    background-color: #1b3043; /* dk blue */
}

nav li {
    list-style-type: none;

}
nav a {
    display: flex;
    text-decoration: none;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff; /* white */
    padding: .25rem 2%;
    margin: auto;
}
nav li.active a {
    color: #f3a843; /* yellow */
}
nav li:hover {
    background-color: #009696; /* teal */
}
/*===================== main =============================*/
h1, h2, h3, h4, h5, h6, p {
    padding: 2%;
}

h2 {
    margin-top: 2em;
}

span.listHead {
    padding: .25rem;
    color: #f3a843; /* yellow */
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}

#homeImg figcaption {
    background-color: #a9bd38; /* green */
}

.greenBackground {
    background-color: #a9bd38; /* green */
    color: #1b3043; /* dk blue */
    font-family: 'Pacifico', cursive;
    padding: .25em;
    margin: 0px;
    line-height: 1.75em;
}
/*================= aside ================================*/
aside {
    margin: 0;
    padding: 2% 0 4% 0;
}

aside {
    background-color: #354557; /* med blue */
    padding: .25em;
    text-align: center;
    border-top: 3px solid #f3a843; /* yellow */
    border-bottom: 6px solid #a9bd38; /* green */
    position: relative;
}

/*================== buttons ========================*/

button { /* register now */
    margin: .5em;
    background-color: #f3a843; /* yellow */
    padding: .3em;
    color: #1b3043; /* dk blue */
}

button:hover {
    background-color: #009696; /* teal */
    color:
    opacity: 1.0;
}

a:link {
    text-decoration: none;
    color: #ffffff; /* white */
}

a:hover {
    color: #009696; /* teal */
    opacity: 0.5;
}

a:visited {
    color: #ffffff; /* white */
}

/*=======================images==============================*/

main img {
    border-top: 5px solid #f3a843; /* yellow */
    border-bottom: 5px solid #a9bd38; /* green */
    margin: 0px auto 0 auto;
    padding: 0px;
    width: 100%;
}

figcaption {
    background-color: #1b3043; /* dk blue */
    color: #f3a843; /* yellow */
    padding: .2em;
    margin: 0 auto 10px auto;
    text-align: center;
    line-height: 1.5em;
}

figcaption span.listHead {
    color: #f3a843; /* yellow */
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}

 figcaption span.cost {
    font-family: 'Pacifico', cursive;
    font-size: 1em;
    color: #a9bd38; /* green */
}

article img {
    border: none;
    width: 100%;
    margin: 0 auto;
}

article figcaption {
    margin: auto;
}

/*===================== grid =============================*/

#grid{ display: grid; grid-template-columns: 1fr; }

#grid main div {
    position: relative;
}

/*====================== slideshow ===============================*/

/* Slideshow container */
.slideshow-container {
    max-width: 599px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none; /* Hide the images by default */
    width: 100%;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: auto;
    padding: 16px;
    color: #009696; /* teal */
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Price */
.price {
    padding: 1em;
    display: flex;
    position: absolute;
    top: -4.25em;
    right: 2%;
    color: #1b3043; /* dk blue */
}

/* Caption text */
.name {
    display: flex;
    color: #000000; /* black */
    font-size: 15px;
    padding: 1em;
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #5d7991; /* lt blue */
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #1b3043; /* dk blue */
}

/*===================== form =============================*/

form legend{
    color: #1b3043; /* dk blue */
    padding: 2%;
    margin-top: .5em;
    font-size: 1.2em;
    font-family: 'Pacifico', cursive;
}

form label{
    display: block;

}

label span{
    display: block;
    margin-top: .7em;
    margin-bottom: .2em;
}

fieldset{
    background-color: #d9d9d9;
    margin-top: .5em;
}

#click{
    background-color: #f3a843; /* yellow */
    padding: .5em;
    margin: 4%;
    border-radius: 10px;
    color: #1b3043; /* dk blue */
    font-size: 1.2em;
}

#click:hover{
    background-color: #009696; /* teal */
    color: #f3a843; /* yellow */
}

/*======================= map ==============================*/

#map {
    height: 400px;
    width: 100%;
}

/*===================== table =============================*/

table {
    border-spacing: 0px;
    border: 1px solid #1b3043; /* dk blue */
    box-shadow: 10px 10px 10px #1b3043; /* dk blue */
    margin: 2%;
}

tr:nth-child(even) {
    background-color: #ffffff; /* white */
}
table tr:nth-child(odd) {
    background-color: #5d7991; /* lt blue */
}
thead th, tfoot td {
    background-color: #009696; /* teal */
    color: #ffffff; /* white */
    border: 1px solid #1b3043; /* dk blue */
}
tbody th {
    background-color: #354557; /* med blue */
    color: #f3a843; /* yellow */
}

tbody th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #1b3043; /* dk blue */
}

tbody #dk {
    background-color: #354557; /* med blue */
    color: #ffffff; /* white */
}

thead th {
    font-size: 1.5em;
    padding: 10px;
}

tfoot {
    font-size: .75em;
}

/*============= footer ==================*/

footer {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    background-color: #1b3043; /* dk blue */
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #ffffff;
}

footer a {
    color: #009696; /* teal */
    text-decoration: none;
}

