@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    @media only screen and (min-width: 37.5em){
        .navigation.responsive {position: relative;}
        .navigation.responsive li {display: flex; width: 100%; margin: 2px 0; }
        .navigation.responsive li a{padding: 1rem; text-align: center; display: flex; text-decoration: none;}
    }



    /* ================= figures ==========================*/

    header img { /* logo */
        padding-right: 1em;
        display: inline-flex;
        position: absolute;
        top: 1.85em;
        left: 3em;
    }

    .company {
        display: inline-flex;
        position: absolute;
        color: #ffffff; /* white */
        left: 100px;
        top: 10px;
    }

    .hamburger {
        top: 1em;
    }

    #homeImg {
        position: relative;
        width: 100%;
    }


    .slideshow-container {
        max-width: 1023px;
    }

    .price {
        top: -4.25em;
        right: 25%;
    }

    .mySlides {

    }


    /*===================== grid =============================*/

    #grid {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-gap: none;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.col2 {
        background-color: #5d7991; /* lt blue */
        padding: 2%;
        margin: 0;
    }

    div.col1 {
        background-color: #354557; /* med blue */
        padding: 2%;
    }
    article.col1, article.col3 {
        background-color: #5d7991; /* lt blue */
        padding: 2%;
        margin: 0;
    }

    article.col2 {
        background-color: #354557; /* med blue */
        padding: 2%;
    }
