@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    .clearfix { overflow: auto; }

    .navigation{ overflow: hidden; text-align: center;}


    /* ================= figures ==========================*/

    header img { /* logo */
        padding-right: 1em;
        display: inline-flex;
        position: absolute;
        top: 1.85em;
        left: 3em;
    }

    .company {
        display: flex;
        position: absolute;
        color: #ffffff; /* white */
        left: 100px;
    }

    .slideshow-container {
        max-width: 1023px;
    }

    .price {
        top: -4.25em;
        right: 25%;
    }

    .mySlides {

    }


    /*===================== grid =============================*/

    #grid{ display: grid; grid-template-columns: 75% 25%; grid-gap: 20px;}





}
