/*Style details:
The font-family is Ubuntu, sans-serif.
Color scheme includes #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 with white and black.
You may find the first-child and nth:child() pseudo classes helpful in CSS.*/



table {
    border-spacing: 0px;
    border: 1px solid #1b3043; /* dk blue */
    box-shadow: 10px 10px 10px #1b3043; /* dk blue */
}

tr:nth-child(even) {
    background-color: #ffffff; /* white */
}
table tr:nth-child(odd) {
    background-color: #5d7991; /* lt blue */
}
thead th, tfoot td {
    background-color: #009696; /* teal */
    color: #f3a843; /* yellow */
    border: 1px solid #1b3043; /* dk blue */
}
tbody th {
    background-color: #354557; /* med blue */
    color: white;
}

tbody th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #1b3043; /* dk blue */
}

tbody #dk {
    background-color: #354557; /* med blue */
    color: #ffffff; /* white */
}

thead th {
    font-size: 1.5em;
    padding: 10px;
}

tfoot {
    font-size: .75em;
}
