@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav { max-width: 1023px; margin: auto; text-align: center; }

    nav ul li {display: inline; border-top: none; padding: 1%;}/*creates horizontal menu*/

    section.forecast { display: block; }  /* show the 10-day forecast with the medium view and up */

    article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

}
