@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    .hamburger { display:none; }  /* hamburger button does not need to be shown */

    .navigation{ overflow: hidden; text-align: center;}

    nav ul{ padding: 0px; margin: 0px; text-align: center; }

    .navigation li {display: inline-block; border-top: none; }/*creates horizontal menu*/

    .navigation a { display: block; padding-left: 1%;}

    section.forecast { display: block; }  /* show the 10-day forecast with the medium view and up */

    article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

}
