@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav li { display: inline; }    
 
nav ul li a {
    text-decoration: none;
    color: #ffe168;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,.3);

}
nav ul li.active a {
    color: #ffffff;
    background-color: rgba(0,0,0,.4);
}
nav ul li a:hover {
    background-color: rgba(0,0,0,.3);
}

    section.forecast { display: block; }  /* show the 10-day forecast with the medium view and up */

    article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

}
